/* -------- Global Reset -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

/* -------- Global Variables -------- */
:root {
  --white: #fff;
  --text-color: #000000;
  --primary-color: #000;
  --secondary-color: #272B2F;
  --ui-bg: #fff;
}

/* -------- Page Layout Setup -------- */
html, body {
  height: 100%;
}

body {
  background-color: var(--ui-bg);
  color: var(--text-color);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;      /* IE 10 and older */
  user-select: none;         /* Standard syntax */
}

button{
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  height: 50px;
  width: 200px;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover{
  background: var(--secondary-color)
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;      /* IE 10 and older */
  user-select: none;         /* Standard syntax */
}

/* -------- Navigation Bar -------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navigation-bar {
  max-width: 1300px;
  height: 100%;
  margin: auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  opacity: 0.75;
}

.navigation-bar a:hover,
.navigation-bar a.active-nav {
  opacity: 1;
}

.title-page-area{
  font-size: 30px;
  font-weight: 600;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: default;
  user-select: none;
}

#titleLink{
  font-size: 30px;
  font-weight: 600;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.page-logo {
  width: 46px;
  height: 46px;
  object-fit: cover;
}

/* -------- Navigation Bar Links -------- */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.nav-links li {
  list-style: none;
  margin: 0 8px;
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-links li:last-child {
  border-right: none;
}

.nav-links-menu-toggle {
  display: none;
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
}

/* -------- Appearance Area Style -------- */
.appearance-area {
  display: flex;
  align-items: center;
}

.dark-mode-btn {
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  color: var(--white);
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.8;
}

.dark-mode-btn:hover {
  opacity: 1;
}

/* -------- Page Content Style -------- */
.content {
  flex: 1;
  padding-top: 50px;
}

.sub-page-header{
  margin-top: 35px;
}

/* -------- Page Links Style -------- */
.content a {
  font-size: 20px;
  padding: 12px 20px;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.content a:hover {
  background: var(--secondary-color);
}

/* -------- Main Section Style -------- */
.page-content {
  margin-top: 70px;
  padding: 0 60px;
  background: var(--ui-bg);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 40px;
}

.page-content.active-section {
  display: flex;
}

.color-text {
  color: var(--primary-color);
}

.page-content p {
  font-size: 18px;
  max-width: 700px;
  margin: 20px 0 30px;
}

hr{
  border: none; 
  border-top: 1px solid gray; 
  margin: 20px 0;
  width: 50%;
}

p{
  text-align: center;
}

/* -------- Title Page -------- */
.title-page-header{
  font-size: 35px;
}

.page-content .title-page-description{
  margin-top: 45px;
  font-size: 18px;
  text-align: center;
}

.application-link-container{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.application-link{
  font-size: 20px;
  padding: 12px 20px;
  background: var(--primary-color);
  height: 50px;
  width: 250px;
  color: var(--white);
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  gap: 8px;
}

/* -------- Sub Page Content -------- */
.sub-page-application-link-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.sub-page-application-link, .sub-page-application-source-link{
  width: 250px;
}

.about-link-header{
  margin-top: 15px;
}

.about-link{
  margin-top: 15px;
}

/* -------- Footer -------- */
.footer {
  background: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

/* -------- Dark Mode Theme -------- */
.color-text.darkMode {
  color: #FFD700;  /* yellow */
}

/* --------- Other Function Mode and Styles ----- */

.hidden{
  display: none;
}

.select-text{
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text;      /* IE */
  user-select: text;         /* Standard */
}

/* -------- Responsive Media -------- */
@media (max-width: 1100px) {
  .page-content {
    padding: 0 30px;
  }

  .page-content p {
    width: 90%;
  }
}

/* ------- Mobile Device ------- */
@media (max-width: 768px) {
  .nav-links-menu-toggle {
    display: block;
    height: 50px;
    width: 50px;
    background: var(--secondary-color);
    color: var(--white);
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.8;
  }

  .nav-links-menu-toggle:hover{
    opacity: 1.0;
  }
  
  .nav-links {
    position: absolute;
    top: calc(70px + 10px); /* navigation-bar height + gap */
    left: 44%;
    transform: translateX(-50%);
    background: var(--primary-color);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    display: none; /* hidden by default */
    width: auto;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    border: none;
    margin: 10px 0;
  }

  .appearance-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  hr{
  width: 70%;
}
  
}
